<!DOCTYPE html>
<html>
    <head>
        <title>home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <h3 align=right>{{ username }}</h3>
        <button onclick="window.location.href='/login'">login</button>
        <button onclick="window.location.href='/register'">register</button>
        <button onclick="window.location.href='/hub'">hub</button>
        <button onclick="window.location.href='/post'">post</button>
        <br><br><br><br><br>
        <button onclick="window.location.href='/logout'">logout</button>
    </body>
</html>
